.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    border-radius: 0.7rem;
    margin-top:1.5rem;
}
.graph{
    margin-top: 3rem;;
    /* margin: auto; */
    /* background-color: aqua; */
    margin: 6rem 2rem;
    /* align-self: center; */
}
.statement{
    margin-top:3rem;
    color:aliceblue;
    text-decoration: none;
    font-family: sans-serif;
}